.brand-logo {
  padding-left: 1% !important;
}

.collapsible-header, .collapsible-body {
  border-bottom: none !important;
}

input {
  border-bottom: 1px solid #0097a7 !important;
}

#new_store_name, #new_brand_name {
  border-bottom: 1px solid black !important;
}

#delete_store_modal {
  text-align: center !important;
  border: 2px #0097a7 solid !important;
  border-radius: 10px !important;
}

#edit_store_modal {
  border: 2px black solid !important;
  border-radius: 10px !important;
}

.collection {
  border: 1px #0097a7 solid !important;
}

.collection-item {
  border-bottom: 1px #0097a7 solid !important;
}

.collection-item:hover {
  background-color: #0097a7 !important;
  color: black !important;
}

.name-row {
  text-align: center;
  border-bottom: 1px #0097a7 solid;
  padding-bottom: 2%;
}

h1.cyan-text {
  margin-bottom: 1%;
}

.top-margin-add {
  margin-top: 6% !important;
}
